* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    background-image: url(background2.jpeg);
    color: white;
}

header {
    margin-top: 14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: wheat;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: wheat;
    border-bottom: 3px solid wheat;
}

@media(max-width: 995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid wheat;
        border-bottom: 3px solid wheat;
        border-bottom-left-radius: 2rem;
        padding: 1rem; 
        background-color: #161616;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid wheat;
    }
}

span {
    color: wheat;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid wheat;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: wheat;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: wheat;
    box-shadow: 0 0 25px wheat;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: wheat;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid wheat;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
    background-color: wheat;
    color: black;
    box-shadow: 0 0 25px wheat;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px); 
    margin-top: 80px; 
    flex-wrap: wrap; 
    gap: 30px;
    overflow-y: auto; 
}

.box {
    width: 900px; 
    margin: 15px;
    box-shadow: 0 0 20px 10px rgba(245, 222, 179, 0.5); 
    text-align: center;
    background-color: rgba(128, 128, 128, 0.7); 
    padding: 20px;
    border-radius: 12%; 
    transition: box-shadow 0.3s ease; 
}

.box:hover {
    box-shadow: 0 0 30px 15px rgba(245, 222, 179, 0.7); 
}

.photo-row {
    display: flex;
    justify-content: center; 
    margin-bottom: 0px; 
}

.photo-row img {
    width: 43%; 
    height: auto;
    border-radius: 10px; /
    margin: 10px; 
}

img {
    width: 40%; 
    height: auto;
    border-radius: 10px; 
}

h1 {
    color: white;
    font-size: 2rem;
}

p {
    font-size: 1.6rem; 
    line-height: 1.5;
    color: wheat;
    text-align: justify; 
}
